rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isAuthenticated() {
      return request.auth != null;
    }

    function isUnitru() {
      return request.auth.token.email != null
        && request.auth.token.email.matches('.*@unitru.edu.pe$');
    }

    // NUEVA estructura
    match /exams/{anio}/{curso}/{unidad}/{fileName} {
      allow read, write: if isAuthenticated() && isUnitru();
    }

    // ESTRUCTURA ANTIGUA CON UID
    match /exams/{userId}/{fileName} {
      allow read, write: if isAuthenticated() && isUnitru();
    }
  }
}