rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isAuthenticated() {
      return request.auth != null;
    }

    function isUnitru() {
      return request.auth.token.email.matches('.*@unitru.edu.pe$');
    }

    match /exams/{anio}/{curso}/{unidad}/{seccion}/{fileName} {

      // Leer: cualquier usuario UNITRU autenticado
      allow read: if isAuthenticated() && isUnitru();

      // Escribir: cualquier usuario UNITRU autenticado
      allow write: if isAuthenticated() && isUnitru();
    }
  }
}
